{{set . "title" "PDF/Eh? - About"}}
{{template "header.html" .}}

    <div class="row">
      <div class="span12">
        <p>Validate PDF documents against the PDF/A-1b standard using <a href="http://pdfbox.apache.org/cookbook/pdfavalidation.html">Apache Preflight</a>.</p>
		<p>Based on work done by the SPRUCE Project, Johan van der Knijff, Sheila Morrissey, Will Palmer, Lynn Marwood, and Peter Cliff.</p>
		<p><a href="http://www.openplanetsfoundation.org/blogs/2013-03-15-pdf-eh-another-hackathon-tale">PDF Eh? - Another Hackathon Tale [blog entry]</a></p>
		<p><a href="https://github.com/openplanets/pdfeh/">PDF Eh? - JavaFX GUI Wrapper for PDF Preflight [github]</a></p>
 	  </div>
    </div>


{{template "footer.html" .}}
