{{set . "title" "PDF/Eh? - Server"}}
{{template "header.html" .}}

	
	<div class="row-fluid">
      <div class="span12">
		  
		<form action="/result" method="GET" class="form-horizontal">
		   
		   <div class="row-fluid">
		    <div class="span3">
			  <label class="text-right" for="pdf">PDF document URL</label>
			</div>
			<div class="span6">
			  <input class="input-block-level" type="text" name="pdf" id="pdf" value="192.168.0.77:8080/public/examples/PDFA-in-a-Nutshell_1b.pdf"/>
			</div>
		   </div>		
		   <div class="row-fluid">
		    <div class="span3">
			  <label class="text-right" for="pdf">Validator Url (JSON)</label>
			</div>
			<div class="span6">
			  <input class="input-block-level" type="text" name="validator" id="validator" value="192.168.0.77:8080/public/examples/warn.json"/>
			</div>
		   </div>			   
		   <div class="row-fluid">
		     <div class="offset3 span9">
			  <input class="btn btn-primary" type="submit" value="Submit!" />
		     </div>
		   </div> 
		  
              

		</form>
		
	  </div>
    </div>


{{template "footer.html" .}}
