    <div class="row">
      <div class="span12">
        <hr>
      </div>
    </div>
	<div class="row">
      <div class="span12">
        <p class="muted">Built by Kevin Bowrin for OR2013, using Go, Revel, and Apache Preflight. Based on the work of the SPRUCE project.</p>
      </div>
    </div>
  </div>
	<script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/main.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
